
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


body {
  height: 100vh;
  background: lightblue;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 30px;
}


.navbar {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;

  border: 10px solid white;
  border-radius: 50px;
}

.logo {
  color:darkcyan;
  font-size: 22px;
  font-weight: bold;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}


.nav-links a {
  text-decoration: none;
  color: black;
  padding: 8px 16px;
  border-radius: 20px;
  transition: all 0.3s ease;
}


.nav-links a:hover {
  background: lightslategray;
  transform: translateY(-2px);
}



